<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <img src="images/blog-49006_1280.png" alt="">
        </div>

        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/posts">POSTS</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
        </ul>
        <input type="text" name="search" placeholder="Search">
    </header>

    <!-- Top Categories -->
    <section class="categories">
        <h1>Top Categories</h1>
        <div class="cards-container">
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/Untitled-design-4.jpg" alt="">
                <h2>Decision Taking</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/Untitled-design-4.jpg" alt="">
                <h2>Decision Taking</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/Untitled-design-4.jpg" alt="">
                <h2>Decision Taking</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/Untitled-design-4.jpg" alt="">
                <h2>Decision Taking</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
            <div class="card">
                <img src="images/Untitled-design-4.jpg" alt="">
                <h2>Decision Taking</h2>
            </div>
            <div class="card">
                <img src="images/images-blogue.png" alt="">
                <h2>Time Management</h2>
            </div>
        </div>
    </section>


    <footer>
        &copy; OUAFIDI Oussama
    </footer>
</body>
</html>